extends default

block header

block content
  div.profile
    div.profile-image(style=`background: url('/images/${person.imgSrc}') top center
    no-repeat; background-size: cover;`)
    div.profile-details
      h1.profile-name
        | #{person.firstname} #{person.lastname}
      h2.profile-tagline
        | #{person.tagline}
      p.profile-bio
        | #{person.bio}
      a.button.button-github(href=`${person.github}`)
        | Follow me on GitHub
      a.button.button-linkedin(href=`${person.linkedin}`)
        | Connect with me on LinkedIn
      a.button.button-twitter(href=`${person.twitter}`)
        | Follow me on Twitter
  ul
    li.topnav
      a.button.topnav-items(href=`${person.bio}`)
        | About Me
      a.button.topnav-items(href=`${person.bio}`)
        | Resume
      a.button.topnav-items(href=`${person.bio}`)
        | Projects

      
      
      
      
      